
body{
  font-family: 'Roboto', sans-serif;
}
.main_menu> li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0px 20px;
  
}
ul.submenu{
    display: none;
    position: absolute;
    
}
.dropdown:hover .submenu{
    display: block;
}
ul.main_menu a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  
  
}

ul.submenu li {
  text-align: left;
  list-style: none;
  padding-left: 20px;
  padding-bottom: 20px;
  
}
li a:hover{
  color: #36d3ec;
}
ul.submenu {
  padding-left: 0;
  width: 150px;
  left: -20px;
  padding: 20px;
  border-style: solid;
  border-color: #36d3ec;
  border-radius: 5px;
  padding-top: 20px;
}